// Importar librerias para estilo de letras
@font-face {
    font-family: "KumbhSans-Regular";
    src: url('/fonts/KumbhSans-Regular.ttf');
}

@font-face {
    font-family: "KumbhSans-Bold";
    src: url('/fonts/KumbhSans-Bold.ttf');
}

//MIXIONS
@mixin styleInfo(){
    width: 95%;
    background-color: transparent;
    border: none;
    font-family: KumbhSans-Regular;
    font-size: 12px;
    color: #4F4E54;

    .img-arrow{
        width: 10px;
        height: 10px;
        background: url('/images/icon-arrow-down.svg');
        background-repeat: no-repeat;
        float: right;
    }
}

@mixin styleP(){
    width: auto;
    padding: 15px;
    font-family: KumbhSans-Regular;
    font-size: 12px;
    color: #89888E;
    display: none;
}

// Estilos generales
body {
    width:auto;
    height: auto;
    min-height: 100vh;
    margin: 0px;
    padding: 10px;
    background: linear-gradient(180deg, #AD66E6 0%, #7B64E8 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    width: auto;
    height: 800px;

    .card{
        height: 800px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-woman{
            width: 190px;
            height: 150px;
            margin-top: 0px;
            background: url('/images/illustration-woman-online-mobile.svg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            z-index: 3;
        }

        .img-pattern{
            width: 190px;
            height: 90px;
            margin-top: -60px;
            background: url('/images/bg-pattern-mobile.svg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            z-index: 2;
        }

        .info-card{
            width: 100%;
            height: auto;
            margin-top: -90px;
            background-color: white;
            border-radius: 20px;
            z-index: 1;

            h1{
                margin-top: 110px;
                color: red;
                font-family: KumbhSans-Bold;
                text-align: center;
                color: #1C1D31;
                text-shadow: 1px 1px 2px #A3A2A8;
                font-size: 30px;
                font-weight: 900
            }
            
            button {
                @include styleInfo();
            }

            button:hover {
                color: #D69F89;
                cursor: pointer;
            }

            .activo {
                font-weight: 900;
                color: #262439;
            }

            .arrow-invertido{
                transform: scaleY(-1);
            }

            p {
                @include styleP();
            }
            
            hr {
                width: 95%;
            }
        }
    }

}

#mi-elemento {
    display: none; /* Ocultar por defecto */
  }
  
  #mi-elemento:target {
    display: block; /* Mostrar cuando se hace clic en el enlace */
  }
  

// Mobile First
@media screen and (min-width: 470px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
            width: 85%;
        }
    }
    
}
@media screen and (min-width: 950px) {
    main {
        width: 100%;
        height: 100vh;
        .card {
            width: 85%;
            height: 70%;
            flex-direction: row;
            background-color: white;
            border-radius: 20px;
            border: 1px solid #A180CA;

            .cubo {
                width: 95px;
                height: 145px;
                margin-top: 70px;
                margin-left: -45px;
                position: absolute;
                background: url('/images/illustration-box-desktop.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                z-index: 4;
            }

            .img-woman{
                width: 45%;
                height: 65%;
                background: url('/images/illustration-woman-online-desktop.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: -40px 0px;
                z-index: 3;
            }

            .img-pattern{
                width: 22%;
                height: 70%;
                position: absolute;
                margin-top: 0px;
                background: url('/images/bg-pattern-desktop.svg');
                background-repeat: no-repeat;
                background-size: 150% 150%;
                background-position: -115px -90px;
                z-index: 2;
            }

            .info-card{
                width: 100%;
                height: 100%;
                margin-top: 0px;
                z-index: 1;
                background-color: gold;
            }
        }
    }    
}

@media screen and (min-width: 1440px) {
    body {
        background-color: blue !important;
    }    
}